@inherits Umbraco.Web.Mvc.UmbracoViewPage<WebApp.Models.IletisimModel>

@using (Html.BeginUmbracoForm<WebApp.Controllers.IletisimSurfaceController>("HandleIletisimFormPost"))
{
    <label for="emailFrom ">Email</label>
    <br />
    @Html.TextBoxFor(x => x.Email, new { @class = "emailFrom", placeholder = "Email" })
    <br />
    <label for="nameFrom ">Name</label>
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "nameFrom", placeholder = "Name" })
    <br />
    <label for="surnameFrom ">Surname</label>
    <br />
    @Html.TextBoxFor(x => x.Surname, new { @class = "surnameFrom", placeholder = "Surname" })
    <br />
    <label for=" cinsiyetSecimi">Cinsiyet Secin</label>
    <br />
    @Html.DropDownListFor(x => x.SecilenCinsiyet, Model.CinsiyetSecimi, "--Cinsiyet Seciniz--", new { @class = "cinsiyetSecimi" })
    <br />
    <label for="phone">Phone</label>
    <br />
    @Html.TextBoxFor(x => x.Phone, new { @class = "phone", placeholder = "Phone" })
    <br />
    <label for="message ">Email</label>
    <br />
    @Html.TextAreaFor(x => x.Message, new { @class = "message", placeholder = "Message" })
    <br />
    <input type="submit" value="Kaydet" />




}
